\:host
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  height: 100vh
  padding-top: 20vh
  background-color: white
  color: black

  h1
    margin-bottom: 30px
    font-weight: 400
    user-select: none

  .fa-city
    text-align: center
    font-size: 80px
    color: dodgerblue

  .wrapper
    display: flex

    