@import "variables"

\:host
  display: flex
  flex-direction: column
  align-items: center
  height: 100vh
  background: $gradient-filter, url("../assets/images/wallpaper.jpg") center center/cover
  color: $font-color

  h1
    margin: 10vh 0 30px
    font-weight: normal

  footer
    margin: auto 0 3vh