<div class="search-block">
  <div class="search-input-wrapper">
    <input class="search-input" type="text" placeholder="Search for cities" [(ngModel)]="inputValue" #searchInput />
    <i *ngIf="inputValue" class="clear fas fa-times" title="Clear" (click)="clearInput()"></i>
  </div>
  <cs-dropdown-menu
    *ngIf="showDropdown"
    class="dropdown-menu"
    [loadingData]="loadingData"
    (selectCity)="onSelectCity($event)"
    (document:pointerdown)="closeDropdown($event)"
  ></cs-dropdown-menu>
</div>

<button class="search-button" [disabled]="dataService.disableSearch" (click)="searchPhotos()">Search</button>
