@import "variables"
@import "mixins"

\:host
  display: flex

  .search-block
    position: relative
    margin-right: 15px

    .search-input-wrapper
      position: relative
      flex-grow: 1

      .search-input
        @include textInput(320px)

      .clear
        position: absolute
        top: 50%
        right: 15px
        transform: translateY(-50%)
        color: rgb(200, 200, 200)
        cursor: pointer

  .search-button
    @include button(120px, $button-bgcolor, white)

@media (max-width: 484px)

  \:host
    flex-direction: column
    width: calc(100% - 30px)

    .search-block
      margin-right: 0
      margin-bottom: 15px

      .search-input-wrapper

        .search-input
          width: 100%

    .search-button
      width: 100%